In [1]:
import numpy as np
import pandas as pd

In [2]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [4]:
df = pd.read_csv("Datasets/covid_toy.csv")
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [5]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df.drop(columns=['has_covid']), df['has_covid'], test_size=0.2)

In [7]:
X_train

    age  gender  fever   cough       city
10   75  Female    NaN    Mild      Delhi
67   65    Male   99.0    Mild  Bangalore
21   73    Male   98.0    Mild  Bangalore
97   20  Female  101.0    Mild  Bangalore
26   19  Female  100.0    Mild    Kolkata
..  ...     ...    ...     ...        ...
94   79    Male    NaN  Strong    Kolkata
36   38  Female  101.0    Mild  Bangalore
16   69  Female  103.0    Mild    Kolkata
4    65  Female  101.0    Mild     Mumbai
45   72    Male   99.0    Mild  Bangalore

[80 rows x 5 columns]

In [10]:
from sklearn.compose import ColumnTransformer

In [14]:
transformer = ColumnTransformer(transformers=[
    ('tnf1', SimpleImputer(), ['fever']),
    ('tnf2', OrdinalEncoder(categories=[['Mild', "Strong"]]), ['cough']),
    ('tnf3', OneHotEncoder(sparse_output=False, drop='first'), ['gender', 'city'])
], remainder='passthrough')

In [15]:
transformer.fit_transform(X_train).shape

(80, 7)

In [17]:
transformer.fit_transform(X_test).shape

(20, 7)